/**
* Estructura con la Metodologia ITCSS
* mas informacion: https://dev.to/carlillo/understanding-itcss-real-case-using-itcss-in-a-ghostcms-blog-1p9b
*/
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
html {
  font-family: 'Montserrat', sans-serif;
}
html * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  background: #fff;
  position: relative;
}
label [type=checkbox],
label [type=radio] {
  display: inline-block;
  margin-right: 14px;
}
h1 {
  font: 400 36px/44px 'Montserrat', sans-serif;
}
h2 {
  font: 400 30px/37px 'Montserrat', sans-serif;
}
h3 {
  font: 400 20px/24px 'Montserrat', sans-serif;
}
h4 {
  font: 400 24px/29px 'Montserrat', sans-serif;
}
h5 {
  font: 400 18px/18px 'Montserrat', sans-serif;
}
h6 {
  font: 400 14px/14px 'Montserrat', sans-serif;
}
p,
li {
  font: 400 16px/18px 'Montserrat', sans-serif;
}
a {
  color: verde;
  font: 400 16px/16px 'Montserrat', sans-serif;
  text-decoration: none;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
a:hover {
  opacity: 0.8;
}
hr {
  clear: both;
  border: 0;
  border-top: 1px solid #0e213d;
  border-radius: 0;
  margin: 30px 0;
}
fieldset {
  margin: 60px 0 0 0;
  padding: 0;
  border: none;
}
fieldset:first-child {
  margin-top: 0;
}
input {
  outline: none;
}
input[type=text],
input[type=password],
input[type=email],
textarea {
  color: #0e213d;
  background: transparent;
  border: 1px solid #c9d9ee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  vertical-align: middle;
  padding: 10px;
  background: #fff;
  border-radius: 10px;
  width: 100%;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
textarea:focus {
  color: #808080;
}
input[type=text]:focus::-webkit-input-placeholder,
input[type=password]:focus::-webkit-input-placeholder,
input[type=email]:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: #fff;
}
input[type=text]:focus::-moz-placeholder,
input[type=password]:focus::-moz-placeholder,
input[type=email]:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: #fff;
}
input[type=text]:focus:-ms-input-placeholder,
input[type=password]:focus:-ms-input-placeholder,
input[type=email]:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  color: #fff;
}
input[type=text]:focus::-ms-input-placeholder,
input[type=password]:focus::-ms-input-placeholder,
input[type=email]:focus::-ms-input-placeholder,
textarea:focus::-ms-input-placeholder {
  color: #fff;
}
input[type=text]:focus::placeholder,
input[type=password]:focus::placeholder,
input[type=email]:focus::placeholder,
textarea:focus::placeholder {
  color: #fff;
}
input[type=text].error,
input[type=password].error,
input[type=email].error,
textarea.error {
  border-color: #f00;
  color: #f00;
}
input[type=text].disabled,
input[type=password].disabled,
input[type=email].disabled,
textarea.disabled,
input[type=text]:disabled,
input[type=password]:disabled,
input[type=email]:disabled,
textarea:disabled {
  color: #0e213d;
  -webkit-text-fill-color: #0e213d;
  border-bottom: 1px dashed #0e213d;
}
input[type=text].full,
input[type=password].full,
input[type=email].full,
textarea.full {
  width: 100%;
}
input[type=text].small,
input[type=password].small,
input[type=email].small,
textarea.small {
  width: 100px;
}
input[type=text].mini,
input[type=password].mini,
input[type=email].mini,
textarea.mini {
  width: 50px;
}
input[type=radio],
input[type=checkbox] {
  position: relative;
  margin-right: 6px;
}
input[type=radio]:after,
input[type=checkbox]:after {
  background: #fff;
  border: 3px solid #fff;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 0 1px #0e213d;
          box-shadow: 0 0 0 1px #0e213d;
  content: '';
  display: block;
  height: 10px;
  left: -2px;
  position: absolute;
  top: -2px;
  width: 10px;
}
input[type=radio]:checked:after,
input[type=checkbox]:checked:after {
  background-color: #a9a9a9;
}
input[type=radio]:disabled:after,
input[type=checkbox]:disabled:after {
  -webkit-box-shadow: 0 0 0 1px #d3d3d3;
          box-shadow: 0 0 0 1px #d3d3d3;
  border: 3px solid #d3d3d3;
  background: #d3d3d3;
}
input[type=radio]:disabled:checked:after,
input[type=checkbox]:disabled:checked:after {
  background-color: #d3d3d3;
}
input[type=radio].error:after,
input[type=checkbox].error:after {
  -webkit-box-shadow: 0 0 0 1px #f00;
          box-shadow: 0 0 0 1px #f00;
  border: 3px solid #d3d3d3;
  background: #d3d3d3;
}
input[type=checkbox]:after {
  border-radius: 2px;
}
input[type=checkbox]:checked:after {
  background: #a9a9a9;
}
input[type=checkbox]:disabled:checked:after {
  background-color: #d3d3d3;
}
input.noLabel {
  margin-bottom: 10px;
}
textarea {
  resize: none;
  padding: 10px 10px;
  width: 100%;
  height: 4em;
  outline: none;
  vertical-align: bottom;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 2px;
  min-height: 80px;
}
textarea.lineal {
  height: 15px;
  resize: none;
}
textarea.medio {
  height: 65px;
  resize: none;
}
textarea.full {
  height: 130px;
  resize: none;
}
ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.checkbox {
  position: relative;
}
.checkbox ~ label.label {
  padding-top: 0;
  padding-left: 0;
  position: relative;
}
.checkbox::after {
  content: '';
  background: #fff;
  border: 3px solid #fff;
  -webkit-box-shadow: 0 0 0px 1px #0e213d;
          box-shadow: 0 0 0px 1px #0e213d;
  display: block;
  height: 10px;
  left: -2px;
  position: absolute;
  top: -2px;
  width: 10px;
  text-align: center;
  font-size: 10px;
  font-family: 'icomoon' !important;
  border-radius: 2px;
}
.checkbox:checked:after {
  content: check;
}
.o-btn {
  background: #ffc31e;
  border: 1px solid #ff9814;
  color: #0e213d;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font: 400 16px/19px 'Montserrat', sans-serif;
  padding: 10px 24px;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
  border-radius: 20px;
  font-weight: 600;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.o-btn:hover {
  opacity: 1;
}
.o-btn--line {
  background: none;
  color: verde;
}
.o-btn--line:hover {
  background: verde;
  color: #fff;
}
.ui-datepicker {
  background: #d3d3d3;
  min-width: 220px;
  z-index: 13 !important;
}
.ui-datepicker .ui-datepicker-title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #808080;
  color: #fff;
  height: 48px;
  padding: 15px 0;
  text-align: center;
}
.ui-datepicker .ui-datepicker-header .ui-corner-all {
  background: #000;
  font-size: 0;
  height: 48px;
  position: absolute;
  width: 25px;
}
.ui-datepicker .ui-datepicker-header .ui-corner-all:hover {
  background: #a9a9a9;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-next {
  background: #000;
  position: relative;
  right: 0;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-next:after {
  content: '>';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-next:hover {
  background-color: #a9a9a9;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev {
  background: #000;
  position: relative;
  right: 0;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev:after {
  content: '<';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev:hover {
  background-color: #a9a9a9;
}
.ui-datepicker .ui-datepicker-calendar {
  margin: 10px auto;
  width: 90%;
}
.ui-datepicker .ui-datepicker-calendar th {
  color: #000;
  font-weight: 500;
}
.ui-datepicker .ui-datepicker-calendar td {
  min-width: 20px;
  padding: 5px 0;
  text-align: center;
}
.ui-datepicker .ui-datepicker-calendar td a {
  color: #000;
  font-size: 14px;
  width: 20px;
}
.ui-datepicker .ui-datepicker-calendar td a:hover {
  color: #a9a9a9;
}
.ui-datepicker-year {
  background: transparent;
  border: none;
  color: #fff;
  font-weight: 300;
}
.form-list {
  display: block;
  margin: 30px 0 10px -2% !important;
  padding-left: 0;
  list-style: none;
  font-size: 0;
}
.form-list .form-list {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.form-list.full {
  margin-left: 0 !important;
  padding: 0;
}
.form-list.full > li {
  display: block;
  margin-left: 0;
  width: auto;
}
.form-list.full .hintTip {
  display: block;
}
.form-list.full .currentInput .datepicker {
  width: 95% !important;
}
.form-list.full .currentInput textarea {
  width: 100%;
}
.form-list.compact > li {
  margin-bottom: 8px;
}
.form-list.four > li {
  width: 23%;
}
.form-list.center {
  text-align: center;
}
.form-list.inline {
  margin-left: 0 !important;
}
.form-list.inline > li {
  display: inline-block;
  margin-left: 20px;
  width: auto;
  vertical-align: bottom;
}
.form-list.inline > li:first-child {
  margin-left: 0;
}
.form-list [type=text],
.form-list [type=password],
.form-list [type=email] {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.form-list > li {
  display: inline-block;
  margin: 0 0 20px 2%;
  width: 48%;
  font-size: 14px;
  vertical-align: top;
}
.form-list > li.full {
  display: block;
  width: auto;
}
.form-list > li.margin {
  margin-right: 50px;
}
.form-list > li .currentInput:nth-child(2) {
  margin-top: 50px;
}
.form-list > li.doble > .currentInput {
  margin-top: 0;
}
.lbRd {
  position: relative;
  margin-right: 25px;
}
.lbRd .flCh {
  position: absolute;
  background: #fff;
  border: 3px solid #fff;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 0px 1px #000;
          box-shadow: 0 0 0px 1px #000;
  content: '';
  display: block;
  height: 10px;
  left: -20px;
  position: absolute;
  top: 0;
  width: 10px;
}
.lbRd :checked + .flCh {
  background: #a9a9a9;
}
.lbRd :disabled + .flCh {
  -webkit-box-shadow: 0 0 0 1px #d3d3d3;
          box-shadow: 0 0 0 1px #d3d3d3;
  border: 3px solid #d3d3d3;
  background: #d3d3d3;
}
.lbRd :disabled:checked + .flCh {
  background-color: #d3d3d3;
}
.lbRd.error + .flCh {
  -webkit-box-shadow: 0 0 0 1px #f00;
          box-shadow: 0 0 0 1px #f00;
  border: 3px solid #d3d3d3;
  background: #d3d3d3;
}
.lbRd input[type=radio] {
  display: none;
}
.lbRd input[type=radio]:after,
.lbRd input[type=radio]:before {
  display: none;
}
.lbCh {
  position: relative;
  margin-right: 25px;
}
.lbCh .flCh {
  position: absolute;
  background: #fff;
  border: 3px solid #fff;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 0 1px #000;
          box-shadow: 0 0 0 1px #000;
  content: '';
  display: block;
  height: 10px;
  left: -20px;
  top: 0;
  width: 10px;
  display: none;
}
.lbCh :checked + .flCh {
  background: #a9a9a9;
}
.lbCh :disabled + .flCh {
  -webkit-box-shadow: 0 0 0 1px #d3d3d3;
          box-shadow: 0 0 0 1px #d3d3d3;
  border: 3px solid #d3d3d3;
  background: #d3d3d3;
}
.lbCh :disabled:checked + .flCh {
  background-color: #d3d3d3;
}
.lbCh.error + .flCh {
  -webkit-box-shadow: 0 0 0 1px #f00;
          box-shadow: 0 0 0 1px #f00;
  border: 3px solid #d3d3d3;
  background: #d3d3d3;
}
.lbCh input[type=checkbox] {
  display: none;
}
.lbCh input[type=checkbox]:after,
.lbCh input[type=checkbox]:before {
  display: none;
}
.currentInput {
  display: inline-block;
  margin: 10px 0;
  position: relative;
  width: 100%;
}
.currentInput .currentInput-label {
  color: #000;
  display: block;
  font-size: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  text-align: left;
  top: -12px;
  width: 100%;
  -webkit-animation: hintLabel_hide 0.5s;
          animation: hintLabel_hide 0.5s;
}
.currentInput input {
  width: 215px;
}
.currentInput input[type=checkbox] {
  margin-top: 10px;
  width: auto;
}
.currentInput.activo .currentInput-label,
.currentInput.listo .currentInput-label {
  display: block;
  top: -12px;
  font-size: 11px;
  opacity: 1;
  -webkit-animation: hintLabel 0.5s;
          animation: hintLabel 0.5s;
}
.currentInput.activo .currentInput-label {
  color: #a9a9a9;
}
.currentInput.activo input {
  border-bottom-color: #a9a9a9;
}
.currentInput.error .currentInput-label {
  color: #f00;
}
.currentInput.error input,
.currentInput.error textarea {
  border-color: #f00;
}
.currentInput .datepicker,
.currentInput .rangeDate {
  display: inline-block !important;
  vertical-align: bottom !important;
  width: 86% !important;
}
.hintTip {
  display: block;
  position: relative;
  vertical-align: middle;
}
.hintTip.error .c-form__message--error {
  display: block !important;
  font-size: 13px !important;
  line-height: 16px !important;
  font-weight: 600 !important;
}
.hintTip.error .hintTip-text {
  display: block;
}
.hintTip.error .customSelect {
  margin-bottom: 10px;
  border-color: #f00;
}
.hintTip.error .customSelect .arrow {
  border-top-color: #f00;
}
.hintTip.error input,
.hintTip.error textarea {
  border-color: #265dbd;
}
.hintTip.error .o-checkbox input + span:before {
  border: 1px solid #265dbd;
}
.hintTip .customSelect + .hintTip-text {
  margin-top: -10px;
}
.hintTip .hintTip-text {
  background: #fff;
  border-radius: 0 0 4px 4px;
  border-top: 1px solid #f00;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #f00;
  cursor: default;
  display: none;
  margin: 0;
  min-width: 100%;
  font-size: 13px;
  padding: 6px 0;
  text-align: right;
  top: 100%;
  position: absolute;
  z-index: 2;
}
.o-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 10px;
  width: 100%;
}
.o-row {
  margin: 0 auto;
}
.o-row:after {
  clear: both;
  content: '';
  display: table;
}
.o-middle {
  float: none !important;
  margin: 0 auto;
}
.o-col-12 {
  float: left;
  width: 100%;
}
.o-col-11 {
  float: left;
  width: 91.66666667%;
}
.o-col-10 {
  float: left;
  width: 83.33333333%;
}
.o-col-9 {
  float: left;
  width: 75%;
}
.o-col-8 {
  float: left;
  width: 66.66666667%;
}
.o-col-7 {
  float: left;
  width: 58.33333333%;
}
.o-col-6 {
  float: left;
  width: 50%;
}
.o-col-5 {
  float: left;
  width: 41.66666667%;
}
.o-col-4 {
  float: left;
  width: 33.33333333%;
}
.o-col-3 {
  float: left;
  width: 25%;
}
.o-col-2 {
  float: left;
  width: 16.66666667%;
}
.o-col-1 {
  float: left;
  width: 8.33333333%;
}
.o-block {
  overflow: hidden;
}
.o-block .o-b-full {
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.o-block .o-b-full:first-child {
  margin-left: auto;
}
.o-block .o-b-full:last-child {
  margin-right: auto;
}
@media (max-width: 560px) {
  .o-block .o-b-full,
  .o-block .o-b-half,
  .o-block .o-b-2of3,
  .o-block .o-b-1of3,
  .o-block .o-b-1of4 {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .o-block .o-b-full:first-child,
  .o-block .o-b-half:first-child,
  .o-block .o-b-2of3:first-child,
  .o-block .o-b-1of3:first-child,
  .o-block .o-b-1of4:first-child {
    margin-left: auto;
  }
  .o-block .o-b-full:last-child,
  .o-block .o-b-half:last-child,
  .o-block .o-b-2of3:last-child,
  .o-block .o-b-1of3:last-child,
  .o-block .o-b-1of4:last-child {
    margin-right: auto;
  }
}
#js {
  position: absolute;
  z-index: 200;
}
.Lbox-overlay {
  display: block;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(128,128,128,0.75);
}
.Lbox-holder {
  width: 100%;
  height: 100%;
}
.Lbox-cont {
  position: relative;
  top: 50%;
  margin: 0 auto;
  padding: 30px;
  max-width: 440px;
  max-height: 80%;
  border-radius: 3px;
  background: #fff;
  overflow: auto;
}
.Lbox-cont .btn-close {
  display: block;
  position: absolute;
  top: 14px;
  right: 14px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.Lbox-cont .btn-close:after,
.Lbox-cont .btn-close:before {
  content: '';
  display: block;
  width: 2px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  background: #e6e6e6;
  height: 16px;
  position: absolute;
}
.Lbox-cont .btn-close:before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.Lbox-cont .btn-close:hover {
  background-position: -331px -52px;
  cursor: pointer;
}
.Lbox-cont .ico-status {
  display: none;
  margin: 0 auto;
  width: 43px;
  height: 46px;
  bg-sprite: -538px -122px;
}
.Lbox-cont .ico-status.error {
  width: 73px;
  height: 47px;
  background-position: -453px -121px;
}
.Lbox-cont .ico-status.success {
  width: 43px;
  height: 46px;
  background-position: -538px -122px;
}
.Lbox-title {
  margin: 24px 0 10px;
  font-size: 30px;
  color: #000;
}
.Lbox-desc {
  background-color: #fff;
  width: 60%;
  margin: 20px auto;
  padding: 10px;
}
.Lbox-confirm {
  margin: 36px 0 0;
  text-align: center;
}
.Lbox-confirm .btn {
  width: 39%;
}
.Lbox-confirm .btn-accept {
  margin-left: 8%;
}
.customSelect > .labelFl {
  color: #000;
  font-size: 11px;
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
  z-index: 0;
}
.customSelect.active .labelFl {
  color: #a9a9a9;
  opacity: 1;
  top: -12px;
}
.customSelect.listo .labelFl {
  top: -12px;
  opacity: 1;
}
.customSelect.loading .customSelect-arrow {
  top: 13px;
  width: 12px;
  height: 12px;
  border: 3px solid #a9a9a9;
  border-radius: 12px;
  -webkit-animation: rotateplane 1.4s 0.5s infinite ease-in-out;
          animation: rotateplane 1.4s 0.5s infinite ease-in-out;
}
.customSelect.noLabel {
  margin: 10px 0;
}
.customSelect {
  background: transparent;
  border-bottom: 1px solid #0e213d;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #0e213d;
  display: inline-block;
  font-size: 14px;
  margin: 0;
  padding: 10px 5px;
  position: relative;
  text-align: left;
  vertical-align: middle;
  width: 100%;
}
.customSelect.open {
  border-radius: 4px 4px 0 0;
}
.customSelect.open .customSelect-label {
  color: #a9a9a9;
}
.customSelect.open .customSelect-arrow {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.customSelect.open .customSelect-options,
.customSelect.open .customSelect-filter {
  display: block;
}
.customSelect.error {
  border-bottom: 1px solid #f00;
}
.customSelect.error .customSelect-label {
  color: #f00;
}
.customSelect.disabled {
  border-bottom: 1px dashed #0e213d;
}
.customSelect.disabled .customSelect-label {
  color: #0e213d;
}
.customSelect.middle {
  width: 178px;
}
.customSelect.middle .customSelect-label {
  max-width: 148px;
}
.customSelect.full {
  width: 100%;
}
.customSelect.full .customSelect-label {
  width: 100%;
}
.customSelect.filter .customSelect-options {
  margin-top: 53px;
}
.customSelect .currentSelect {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}
.customSelect .customSelect-arrow {
  display: block;
  position: absolute;
  right: 10px;
  top: 20px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-bottom: none;
  border-top-color: #0e213d;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.customSelect-label {
  cursor: default;
  display: block;
  padding-right: 18px;
  font-size: 14px;
  font-weight: 500;
  vertical-align: middle;
  overflow: hidden;
}
.customSelect-options {
  -webkit-box-shadow: 0 6px 6px -3px rgba(0,0,0,0.2);
          box-shadow: 0 6px 6px -3px rgba(0,0,0,0.2);
  display: none;
  left: 0;
  max-height: 230px;
  overflow: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 3;
}
.customSelect-options > label {
  background: #808080;
  color: #fff;
  display: block;
  padding: 6px 16px;
}
.customSelect-options > label:hover {
  color: #fff;
  background: #0e213d;
  cursor: pointer;
}
.customSelect-options > label.active {
  color: #ffa500;
}
.customSelect-options > label.selected {
  color: #a9a9a9;
}
.customSelect-filter {
  display: none;
  position: absolute;
  z-index: 4;
  top: 100%;
  left: 0;
  padding: 6px 10px 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #808080;
  -webkit-box-shadow: 0 6px 12px -6px rgba(0,0,0,0.3);
          box-shadow: 0 6px 12px -6px rgba(0,0,0,0.3);
}
.customSelect-search {
  margin: 0;
  color: #a9a9a9;
}
.customSelect-tagList {
  display: block;
  padding: 6px 0 0;
}
.customSelect-tag {
  display: inline-block;
  margin: 0 6px 6px 0;
  padding: 9px 12px;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  background: #a9a9a9;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
.customSelect-tag:after {
  display: inline-block;
  content: 'x';
  margin-left: 8px;
  width: 10px;
  height: 9px;
}
.customSelect-tag:hover {
  background: #a9a9a9;
  cursor: pointer;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
.c-footer {
  background: #0e213d;
  color: #fff;
}
.c-footer a {
  color: #fff;
}
.c-footer__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  -ms-flex-direction: column;
      flex-direction: column;
}
@media (min-width: 960px) {
  .c-footer__contents {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.c-footer__logo {
  background: #3f88c8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 30px 0;
  padding-bottom: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 960px) {
  .c-footer__logo {
    max-width: 300px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 45px 10px 55px;
    position: relative;
  }
  .c-footer__logo:after {
    content: '';
    display: block;
    position: absolute;
    width: 1920px;
    background: #3f88c8;
    height: 100%;
    right: 100%;
    top: 0;
    bottom: 0;
  }
}
.c-footer__logo .global {
  display: none;
}
.c-footer__logo-box {
  display: block;
  max-width: 210px;
}
.c-footer .brand {
  display: block;
  width: 100%;
  height: auto;
}
.c-footer__copy {
  margin-bottom: 20px;
  padding: 0 10px;
}
.c-footer__copy .txt {
  font-size: 11px;
  color: #e6e6e6;
  opacity: 0.6;
}
.c-footer__legal {
  text-align: center;
}
@media (min-width: 960px) {
  .c-footer__legal {
    text-align: left;
  }
}
.c-footer__legal-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 960px) {
  .c-footer__legal-links {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.c-footer__legal-links__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.c-footer__legal-links__item:after {
  content: '';
  display: block;
  width: 1px;
  top: 0;
  bottom: 0;
  margin: auto 5px;
  height: 20px;
  opacity: 0.3;
  background: #fff;
}
.c-footer__legal-links__item:first-child {
  margin-left: 0;
}
.c-footer__legal-links__item:last-child {
  margin-right: 0;
}
.c-footer__legal-links__item:last-child:after {
  display: none;
}
.c-footer__legal .o-link {
  font-size: 11px;
  gap: 0 8px;
  text-transform: uppercase;
  font-weight: 400;
}
.c-footer__social {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;
}
@media (min-width: 960px) {
  .c-footer__social {
    text-align: left;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 200px;
  }
}
.c-footer__social .txt {
  font-size: 13px;
  padding: 0 10px;
  text-align: center;
}
.c-footer__social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0 10px;
}
@media (min-width: 960px) {
  .c-footer__social-links {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.c-footer__social .o-link {
  font-size: 12px;
  gap: 0 8px;
}
.c-footer__social .o-icon:before {
  font-size: 20px;
  line-height: 15px;
}
@media (min-width: 960px) {
  .c-footer__caption {
    max-width: 150px;
  }
}
.c-footer__caption-box {
  background: #fff;
  border-radius: 4px;
  margin-top: -50px;
  display: block;
  max-width: 230px;
  position: relative;
  z-index: 1;
  padding: 10px;
}
@media (min-width: 960px) {
  .c-footer__caption-box {
    margin-top: 0;
    margin-left: -100px;
  }
}
.c-footer__options {
  gap: 0 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.c-footer__options .c-links {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
@media (max-width: 560px) {
  .c-footer__options .c-links {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.c-footer__options .c-links__item {
  margin: 0 5%;
}
.c-footer__options .c-links__item a {
  line-height: 24px;
  font-weight: semibold;
  font-size: 18px;
}
.hidden {
  -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
          clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  position: absolute;
}
.hide {
  display: none;
}
.index-page .c-header__logo-box.global {
  display: none;
}
.index-page .c-header__logo-box.index {
  display: block;
}
.c-header {
  position: relative;
  padding: 10px 0;
  background: #fff;
}
@media (min-width: 960px) {
  .c-header {
    padding: 18px;
    padding-bottom: 40px;
  }
}
.c-header__contents {
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 740px) {
  .c-header__contents {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 740px) {
  .c-header__contents {
    gap: 0 5%;
  }
}
.c-header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
@media (min-width: 480px) {
  .c-header__logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: auto;
  }
}
@media (min-width: 740px) {
  .c-header__logo {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.c-header__logo .global {
  display: none;
}
.c-header__logo-box {
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  max-width: 160px;
}
@media (min-width: 768px) {
  .c-header__logo-box {
    max-width: 210px;
  }
}
.c-header__logo-box.index {
  display: none;
}
.c-header__logo-box.global {
  display: block;
}
.c-header__logo .brand {
  display: block;
  width: 100%;
  height: auto;
}
.c-header__options {
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 50px;
  background: #e6e6e6;
  border-radius: 40px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 480px) {
  .c-header__options {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    max-width: 650px;
  }
}
.c-header__cta {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
@media (min-width: 960px) {
  .c-header__cta {
    position: relative;
  }
}
.c-formSearch {
  display: none;
}
.u-hidden {
  display: none;
}
.u-visible {
  display: block;
}
.u-float-left {
  float: left;
}
.u-float-right {
  float: right;
}
.u-clear-both {
  clear: both;
}
.u-text-center {
  text-align: center;
}
.u-text-left {
  text-align: left;
}
.u-text-right {
  text-align: right;
}
a.btn {
  margin-bottom: 20px;
}
.sty-tarjeta-color {
  margin: 40px 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.sty-tarjeta-color > li {
  display: inline-block;
  margin: 10px 4px;
  width: 140px;
  border-radius: 6px;
}
.sty-tarjeta-color.small > li {
  width: 120px;
}
.sty-tarjeta-color.small .sty-color {
  height: 100px;
}
.sty-color {
  display: block;
  height: 140px;
  border: 1px solid #d9dee4;
  border-radius: 6px 6px 0 0;
}
.sty-color-nombre {
  display: block;
  padding: 20px 6px;
  font-size: 12px;
  border-radius: 0 0 6px 6px;
  color: #44596c;
  background: #fff;
}
.sty-color-nombre strong {
  display: block;
  padding-bottom: 4px;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  font-size: 14px;
  color: #44596c;
  background: #f1f4f5;
}
section {
  padding: 80px 0 80px 60px;
}
.sty-h2 {
  margin: 0 0 60px;
  font-family: 'Open Sans';
  font-size: 28px;
  font-weight: 600;
  text-align: center;
}
.sty-h3 {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
.sty-space {
  margin-top: 120px;
}
.sty-h:first-child,
.sty-p:first-child {
  margin-top: 0;
}
.sty-bg {
  color: #fff;
  background: #44596c;
}
.sty-bg p {
  color: #c5d6e0;
}
.sty-bg h2,
.sty-bg h3,
.sty-bg h4 {
  color: #fff;
}
.sty-holder {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 960px;
}
.sty-center {
  text-align: center;
}
.sty-nav {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0 20px;
  width: 100%;
  text-align: right;
  background: #44596c;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.sty-nav > li {
  display: inline;
  margin: 0;
}
.sty-nav a {
  display: inline-block;
  padding: 0 20px;
  height: 40px;
  font-weight: 600;
  line-height: 40px;
  text-decoration: none;
  color: #fff;
}
.sty-nav a:hover {
  color: #44596c;
  background: #c5d6e0;
}
.sty-nav .sty-titulo {
  float: left;
}
.sty-nav h1 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  color: #fff;
}
.sty-componente {
  margin: 40px 0 20px;
  text-align: left;
  color: #44596c;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 4px rgba(68,89,108,0.4);
          box-shadow: 0 0 4px rgba(68,89,108,0.4);
  background: #fff;
}
.sty-componente p {
  color: #44596c;
}
.sty-componente-nombre {
  margin: 0;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 600;
  color: #44596c !important;
}
.sty-componente-ejemplo {
  clear: both;
  padding: 10px 20px 30px;
  border: 1px solid #d9dee4;
  border-left: none;
  border-right: none;
  background: #f1f4f5;
}
.sty-componente-ejemplo:after {
  display: table;
  content: '';
  clear: both;
}
.sty-componente-tipo {
  margin: 20px 0 20px;
  text-transform: uppercase;
}
.sty-componente-tipo:first-child {
  margin-top: 0;
}
.sty-componente-codigo {
  padding: 20px;
}
.sty-hrule {
  margin: 30px 0;
  border: none;
  height: 2px;
  background: #d9dee4;
}
.sty-hrule.collapse {
  margin-bottom: 0;
}
.sty-code {
  padding: 0 20px;
}
.sty-componente-clases {
  margin: 6px 0 20px;
  padding: 20px 20px;
  color: #44596c;
  border-radius: 6px;
  background: #fff;
}
.sty-componente-clases p {
  color: #44596c;
}
.sty-componente-lista {
  display: block;
  margin: 20px 0;
}
.sty-componente-lista > li {
  display: block;
  clear: both;
  margin: 0;
  padding: 20px 0;
  border-top: 1px solid #f1f4f5;
}
.sty-componente-lista > li:first-child {
  border: none;
}
.sty-componente-lista .sty-ejemplo {
  display: inline-block;
  width: 68%;
}
.sty-clase {
  display: inline-block;
  width: 30%;
}
.sty-btn-status {
  display: inline-block;
  width: 22%;
}
.sty-tarjeta-fuente {
  margin: 40px 0;
  list-style: none;
  text-align: center;
}
.sty-tarjeta-fuente > li {
  display: inline-block;
  margin: 10px 4px;
  width: 120px;
  vertical-align: middle;
}
.sty-tarjeta-fuente > li.separador {
  margin: 0 20px;
  width: 0;
  height: 160px;
  border-left: 1px dashed #c5d6e0;
}
.sty-tarjeta-fuente > li.separador-h {
  display: block;
  margin: 20px auto;
  width: 40%;
  height: 0;
  border-top: 1px dashed #c5d6e0;
}
.sty-tarjeta-fuente .sty-fuente {
  display: block;
  height: 120px;
  font-size: 40px;
  text-align: center;
  line-height: 120px;
  color: #44596c;
  border-radius: 6px 6px 0 0;
  background: #fff;
}
.sty-tarjeta-fuente .sty-fuente-nombre {
  display: block;
  padding: 20px 6px;
  border-top: 1px solid #d9dee4;
  border-radius: 0 0 6px 6px;
  color: #44596c;
  background: #fff;
}
.sty-ico-list {
  margin: 40px 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.sty-ico-list > li {
  display: inline-block;
  margin: 10px 4px 20px;
  width: 140px;
}
.sty-ico-list > li > div > span {
  margin: 0 auto;
}
.sty-ico-holder {
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  vertical-align: middle;
  border-radius: 6px;
  background: rgba(255,255,255,0.1);
}
.sty-ico {
  vertical-align: middle;
  font-size: 18px;
}
.sty-ico-name {
  display: block;
  padding-top: 6px;
  font-size: 14px;
  color: #c5d6e0;
}
.blocksStyle .block {
  overflow: hidden;
  padding: 10px;
  background: rgba(0,0,0,0.5);
  margin-bottom: 20px;
}
.blocksStyle .block > div {
  height: 100%;
  background: rgba(0,0,0,0.2);
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
}
.blocksStyle p {
  margin: 0;
  color: #fff;
  padding: 30px 0;
}
